<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="text-align: center">
    <form action="http://localhost/Xianlaiyizhuan/Home/Transact/createTransaction" method="post"
          enctype="multipart/form-data">
        intro<input type="text" name="intro"><br>
        type<input type="text" name="type"><br>
        price<input type="text" name="price"><br>
        <input type="file" name="pic[]"><br>
        <input type="file" name="pic[]"><br>
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>