<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    input {
        margin-top: 0.2rem;
    }
</style>
<body>
<div style="text-align: center">
    <form action="http://localhost/Xianlaiyizhuan/Home/Requirement/createRequirement" method="post"
          enctype="multipart/form-data">
        <input type="text" name="intro"><br>
        <input type="text" name="type"><br>
        <input type="text" name="price"><br>
        <input type="submit" value="create"><br>
    </form>
</div>
</body>
</html>