<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="text-align: center">
    <form action="http://localhost/xianlaiyizhuan/Home/PMsg/sendPMsg" method="post"
          enctype="multipart/form-data">
        to<br>
        <input type="text" style="width: 200px" name="receiver"><br>
        <input type="text" style="width: 200px; height: 300px;" name="content"><br>
        <input type="submit" value="send">
    </form>
</div>
</body>
</html>