<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="text-align: center">
    <form action="http://localhost/Xianlaiyizhuan/Home/User/userRegister" method="post"
          enctype="multipart/form-data">
        <input name="password" type="password"><br>
        <input name="tel" type="text"><br>

        <input name="nickname" type="text"><br>
        <input name="addr" type="text"><br>
        <input name="sign" type="text"><br>
        <input type="submit">
    </form>
</div>
</body>
</html>