<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="text-align: center">
    <form action="http://localhost/Xianlaiyizhuan/Home/Donation/createDonationInfo" method="post"
          enctype="multipart/form-data">
        title<input type="text" name="ac_title"><br>
        time<input type="text" name="ac_time"><br>
        addr<input type="text" name="ac_addr"><br>
        pay<input type="text" name="ac_pay"><br>
        chk_addr<input type="text" name="ac_chk_addr"><br>
        detaid<input type="text" name="ac_detail"><br>
        host<input type="text" name="ac_host"><br>
        contact<input type="text" name="ac_contact"><br>
        <input type="file" name="any"><br>
        <input type="submit" value="Create Donation">
    </form>
</div>
</body>
</html>